/* .wrapper {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16,1fr);
    background-color: aqua;
    gap: 1.5em;
    border-color: black;
    width: 1650px;
    height:auto;   
}

.header {
    grid-column: span 12;
   
}

.menu {
    grid-column: span 4;
}

.content {
    grid-column: span 8;
}

.footer {
    grid-column: span 12;
}  

.container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    gap: 5px;
    } */


 .etch-grid-container{
    display: grid;
    width: 960px;
    height: 960px;
}
